@mixin footer {
  .p-footer {
    background-color: $color-primary;
    color: $color-light;
    font-size: small;
    padding: $spv-outer--regular-scaleable 0;

    .p-footer--left {
      justify-content: flex-start;
      text-align: left;
    }

    .p-footer--center {
      justify-content: center;
      text-align: center;

      @media screen and(max-width: $breakpoint-medium) {
        justify-content: flex-start;
        padding-bottom: $spv-inner--small;
        text-align: left;
      }
    }

    .p-footer--right {
      display: flex;
      justify-content: flex-end;

      a {
        display: flex;
        align-content: center;

        &:not(:last-of-type) {
          margin-right: $spv-inner--large;
        }
      }
    }
  }
}
