@mixin icons {
  .icon-base {
    background-size: contain;
    display: inline-block;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: calc(0.5px + 0.3465em - 0.5rem);
  }

  .icon-base-hover {
    background-size: contain;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: calc(0.5px + 0.3465em - 0.5rem);
    opacity: 0.25;
    transition-property: opacity;
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  .p-icon-flag--romania {
    @extend .icon-base;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='flag-icon-css-ro' viewBox='0 0 640 480'%3E%3Cg fill-rule='evenodd' stroke-width='1pt'%3E%3Cpath fill='%2300319c' d='M0 0h213.3v480H0z'/%3E%3Cpath fill='%23ffde00' d='M213.3 0h213.4v480H213.3z'/%3E%3Cpath fill='%23de2110' d='M426.7 0H640v480H426.7z'/%3E%3C/g%3E%3C/svg%3E");
    height: 1.75rem;
    width: 1.75rem;
  }

  .p-icon-flag--england {
    @extend .icon-base;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='flag-icon-css-gb-eng' viewBox='0 0 640 480'%3E%3Cpath fill='%23fff' d='M0 0h640v480H0z'/%3E%3Cpath fill='%23ce1124' d='M281.6 0h76.8v480h-76.8z'/%3E%3Cpath fill='%23ce1124' d='M0 201.6h640v76.8H0z'/%3E%3C/svg%3E");
    height: 1.75rem;
    width: 1.75rem;
  }

  .p-icon--facebook {
    @extend .icon-base-hover;

    background-image: url("data:image/svg+xml,%3Csvg role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EFacebook icon%3C/title%3E%3Cpath d='M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0'/%3E%3C/svg%3E");
  }

  .p-icon--twitter {
    @extend .icon-base-hover;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='45px' width='45px' version='1.1' viewBox='0 0 45 45'%3E%3C!-- Generator: Sketch 52.1 (67048) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eg4249%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' fill-rule='evenodd' fill='none'%3E%3Cg id='g4249'%3E%3Cpath id='path4251' fill='%23151513' d='m22.488 0.2475c-12.15 0-22 9.8495-22 22 0.00012 12.15 9.85 22 22 22s22-9.85 22-22c0-12.151-9.85-22-22-22z'/%3E%3Cpath id='path4253' fill='%23fff' d='m25.671 11.199c-2.059 0.636-4.04 3.464-3.419 6.664-6.834-0.419-9.852-4.144-11.667-5.926-1.8495 3.321 0.048 6.549 1.704 7.594-0.874 0.049-1.932-0.335-2.4569-0.67-0.1994 3.064 2.2549 5.188 4.3439 5.738-0.668 0.203-1.297 0.23-2.373 0.067 0.916 3.082 3.377 3.907 5.21 4.042-2.36 2.083-5.193 2.537-8.2749 2.384 7.9889 4.971 16.056 1.912 19.983-1.989 3.297-3.276 4.771-8.181 4.822-12.57 0.755-0.624 2.281-1.946 2.695-2.981-0.601 0.236-1.792 0.796-3.034 0.846 1.023-0.682 2.195-2.048 2.318-3.116-1.133 0.627-2.444 1.171-3.567 1.344-2.117-2.078-4.178-2.076-6.284-1.426v-0.001z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--instagram {
    @extend .icon-base-hover;

    background-image: url("data:image/svg+xml,%3Csvg role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EInstagram icon%3C/title%3E%3Cpath d='M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z'/%3E%3C/svg%3E");
  }

  .p-icon--big-smile {
    background-size: contain;
    height: 10rem;
    width: 10rem;
    display: inline-block;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: calc(0.5px + 0.3465em - 0.5rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='16px' width='16px' version='1.1' viewBox='0 0 16 16'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3Esuccess-grey%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='success-grey' fill-rule='evenodd' fill='none'%3E%3Cpath id='Shape' fill-rule='nonzero' fill='#{vf-url-friendly-color($primary)}' d='m8 0c4.418 0 8 3.5817 8 8 0 4.418-3.582 8-8 8-4.4183 0-8-3.582-8-8 0-4.4183 3.5817-8 8-8zm0 1.5c-3.5899 0-6.5 2.9101-6.5 6.5 0 3.59 2.9101 6.5 6.5 6.5 3.59 0 6.5-2.91 6.5-6.5 0-3.5899-2.91-6.5-6.5-6.5zm2.814 2.4505l1.203 0.8963-5.5371 7.4292-3.4853-3.693 1.0909-1.0295 2.2585 2.3935 4.47-5.9965z'/%3E%3C/g%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root jss79' focusable='false' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='#{vf-url-friendly-color($primary)}' d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z'%3E%3C/path%3E%3C/svg%3E");
  }
}
