@mixin navigation {
  .p-navigation {
    background-color: $color-primary;
    padding-block-start: 1rem;
    padding-block-end: 1rem;

    .p-navigation__row {
      margin-left: auto;
      margin-right: auto;
      max-width: 72rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-navigation-threshold) {
        flex-direction: row;
      }
    }

    .p-navigation__nav {
      display: none;
      justify-content: center;
      flex-direction: row;
      padding-top: 2rem;

      @media (min-width: $breakpoint-navigation-threshold) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0;
        width: 100%;
      }
    }

    .p-navigation__items {
      list-style: none;
      margin: -1px 0 0 0;
      padding: 0;

      .p-navigation__item {
        display: flex;
        justify-content: center;
        position: relative;

        &::before {
            position: absolute;
            bottom: 0.25rem;
            width: 100%;
            height: 2px;
            background-color: $color-light;
            content: "";
            opacity: 0.25;
            transform: scaleX(0.5);
            transition-property: transform, opacity;
            transition-duration: 0.3s;
          }

        &.is-selected,
        &:hover {
          &::before {
            opacity: 1;
            transform: scaleX(0.6);
          }
        }

        .p-navigation__link {
          border-radius: 5px;
          color: $color-light;
          text-transform: uppercase;
          display: block;
          line-height: 1.5rem;
          margin-bottom: 0;
          overflow: hidden;
          position: relative;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 0.5rem 1rem;

          &:hover {
            text-decoration: none;
          }
        }
      }

      @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;

        .p-navigation__item {
          max-width: 20em;
        }
      }
    }

    .p-navigation__banner {
      display: flex;
      flex: 0 0 auto;
      justify-content: space-between;
      padding: 0 1.5rem;
    }

    .p-navigation__logo {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      height: 3rem;
      margin: 0 $sph-inner 0 0;
    }

    &__toggle {
      &--close {
        display: none;
      }

      &--open {
        display: block;

        @media (min-width: $breakpoint-navigation-threshold) {
          display: none;
        }
      }

      &--open,
      &--close {
        @include vf-focus;

        color: $color-light;
        margin: 0 0 auto $sph-inner;
        padding: $spv-inner--medium;

        &,
        &:visited,
        &:focus,
        &:hover {
          text-decoration: none;
        }
      }
    }

    // small screen navigation toggles
    &:target {
      &::after {
        display: none;
      }

      .p-navigation__nav {
        display: flex;
      }

      .p-navigation__toggle--open {
        display: none;
      }

      .p-navigation__toggle--close {
        display: block;

        @media (min-width: $breakpoint-navigation-threshold) {
          display: none;
        }
      }
    }

    .u-off-screen {
      height: 1px !important;
      left: -10000px !important;
      overflow: hidden !important;
      position: absolute !important;
      top: auto !important;
      width: 1px !important;
    }
  }
}
