@import "~bulma/sass/utilities/initial-variables";
// Config vars
$primary: #1555a8;
$color-secondary: #ff5964;
$primary-invert: #fff;
$body-color: #333;
$black: #2b2523;

@import "~bulma";

// Import the framework
// @import "node_modules/vanilla-framework/scss/vanilla";

// Include vanilla patterns
// @include vf-base;
// @include vf-p-grid;
// @include vf-p-strip;
// @include vf-p-icons;
// @include vf-p-headings;
// @include vf-u-layout;
// @include vf-u-hide;
// @include vf-u-align;
// @include vf-u-margin-collapse;
// @include vf-u-padding-collapse;

// color variables
// $color-primary: #1555a8;
// $color-secondary: #ff5964;
// $color-accent: #23ce6b;
// $color-background: #fff; // dark #1c1c1c
// $color-light: #f7f7f7;

// https://fonts.google.com/specimen/Poppins
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500");

html {
  font-family: "Poppins", Helvetica, sans-serif;
  // font-family:  Helvetica, sans-serif;
}

// @import "button";
// @include button;

// @import "card";
// @include card;

// @import "footer";
// @include footer;

// @import "link";
// @include link;

@import "icons";
@include icons;

@import "table";
@include table;

@import "blog";
@include blog;

@import "navigation";
@include navigation;

.p-icon--close {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23e5e5e5' fill-rule='nonzero' d='M8.75 1.151V7.25l6.099.001v1.5h-6.1l.001 6.099h-1.5v-6.1L1.15 8.75v-1.5H7.25L7.25 1.15z'/%3E%3C/svg%3E");
  transform: rotate(45deg);
}

.p-icon--menu {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg fill='%23e5e5e5' fill-rule='nonzero'%3E%3Cpath d='M0 2.7h16v2.462H0zM0 6.751h16v2.462H0zM0 10.802h16v2.462H0z'/%3E%3C/g%3E%3C/svg%3E");
}

.required-legend {
  font-size: small;
  margin-bottom: 0;
  padding: 0;

  &::before {
    color: #c7162b;
    content: "*";
    position: relative;
    right: 0.25rem;
  }
}

label {
  font-weight: 500;

  &.is-required::after {
    color: #c7162b;
    content: "*";
    left: 0.25rem;
    position: relative;
  }
}

.section.has-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30rem;
}

.flip-text__container {
  display: flex;

  .flip-text {
    overflow: hidden;
    height: 3.5rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        height: 3rem;
        display: block;
        padding: 0 0 0 10px;
        margin-block-end: 3rem;
      }
    }

    .flip4 {
      animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    }

    @keyframes flip4 {
      0% {
        margin-top: -24rem;
      }
      5% {
        margin-top: -18rem;
      }
      25% {
        margin-top: -18rem;
      }
      30% {
        margin-top: -12rem;
      }
      50% {
        margin-top: -12rem;
      }
      55% {
        margin-top: -6rem;
      }
      75% {
        margin-top: -6rem;
      }
      80% {
        margin-top: 0;
      }
      99.99% {
        margin-top: 0;
      }
      100% {
        margin-top: -18rem;
      }
    }
  }
}
