@mixin table {
  .table-container {
    .table__title {
      display: flex;
      padding-left: 0.75rem;
      padding-bottom: 0.75rem;

      .table__title--image {
        display: flex;
        align-items: center;
      }

      .table__title--text {
        font-weight: 700;
        margin-bottom: 6px;
        margin-left: 1rem;

        &:hover {
          // color to match the FA logo color
          color: #011e41;
        }
      }
    }

    .table {
      width: 100%;
    }

    table {
      thead {
        background-color: $white-bis;

        tr {
          border-bottom: none;

          th {
            font-weight: 500;

            .large-screen {
              display: block;
            }

            .small-screen {
              display: none;
            }

            @media screen and(max-width: $tablet) {
              .large-screen {
                display: none;
              }

              .small-screen {
                display: block;
              }
            }
          }
        }
      }

      tbody {
        font-size: 0.9rem;
      }

      th,
      td {
        padding: 1rem 0.75rem;
        vertical-align: middle;
        text-align: center;

        @media screen and(max-width: 620px) {
          padding: 0.5rem 0;
        }
      }

      .table__club {
        text-align: left;
        width: 45%;

        @media screen and(min-width: 620px) and(max-width: $tablet) {
          width: 35%;
        }

        @media screen and(max-width: 620px) {
          width: 30%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 0.25rem;
          padding-right: 0.25rem;
        }
      }

      .p-table__highlighted {
        background-color: lighten($color-secondary, 25%);
      }
    }
  }
}
